---
/**
 * Escape-hatch proof: a consumer-supplied component that overrides the theme's
 * EditLink slot via `config.components`. If this renders, the override works.
 */
---

<a class="example-custom-edit" href="https://github.com/rivet-dev/docs-theme">
	Custom edit link (override works)
</a>
